@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(236, 222, 222);
}

#timers {
    display: inline-block;
    font-size: 2rem;
}

.fa-clock {
    font-size: 4rem;
}

.the-timer {
    font-family: "Orbitron", sans-serif;
    font-size: 3.5rem;
}

.timerBtn {
    display: flex;
    width: 80px;
    height: 40px;
    background-color: orangered;
    color: black;
    margin: 10px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.custom {
    width: 100px;
    font-size: 1.5rem;
    background-color: orange;
}

.reset {
    background-color: orchid;
    color: black;
    width: 90px;
    height: 20px;
}

.alarm-noises {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
}

.alarm1,
.alarm2 {
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
}

.alarm-chosen {
    background-color: aquamarine;
    color: black;
    transition: 0.6s ease;
}
